@model IEnumerable<AracKiralamaDB.Models.ArabaMarkalari>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Araba Markaları</h2>

<p>
    <a class="btn btn-primary" href="@Url.Action("Create","ArabaMarkalaris")">Marka Ekle</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ArabaMarkaAdi)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ArabaMarkaAdi)
        </td>
        <td>
            <a class="btn btn-success" href="@Url.Action("Edit","ArabaMarkalaris",new { id = item.ArabaMarkaID })">Güncelle</a>
            <a class="btn btn-warning" href="@Url.Action("Details","ArabaMarkalaris",new { id = item.ArabaMarkaID })">Detay Gör</a>
            <a class="btn btn-danger" href="@Url.Action("Delete","ArabaMarkalaris",new { id = item.ArabaMarkaID })">Sil</a>
        </td>
    </tr>
}

</table>
