@model AracKiralamaDB.Models.Kiralamalar

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Kiralamalar</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.KiraTarih)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KiraTarih)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KiraDurum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KiraDurum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Arabalar.ArabaModelleri.ArabaModelAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Arabalar.ArabaModelleri.ArabaModelAdi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Musteriler.KullaniciAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Musteriler.KullaniciAdi)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.KiraID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
