@model IEnumerable<AracKiralamaDB.Models.ArabaVitesTurleri>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Araba Vites Türleri</h2>

<p>
    <a class="btn btn-primary" href="@Url.Action("Create","ArabaVitesTurleris")">Vites Türü Ekle</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ArabaVitesTurAdi)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ArabaVitesTurAdi)
        </td>
        <td>
            <a class="btn btn-success" href="@Url.Action("Edit","ArabaVitesTurleris",new { id = item.ArabaVitesTurID })">Güncelle</a>
            <a class="btn btn-warning" href="@Url.Action("Details","ArabaVitesTurleris",new { id = item.ArabaVitesTurID })">Detay Gör</a>
            <a class="btn btn-danger" href="@Url.Action("Delete","ArabaVitesTurleris",new { id = item.ArabaVitesTurID })">Sil</a>
        </td>
    </tr>
}

</table>
